html
	head
		title Homepage
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			h1 Welcome to this amazing blog! So wow.
			p Click this button to login and get started writing right away!
			a(href="/login") Login
		
			p Or click this button to register a new account!
			a(href="/register") Register