html
	head
		title Homepage
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			a#logout(href="/logout") Logout
			a(href="/") Home
			a(href="/myposts") View my own cool posts
			a(href="/viewall") View everyone's posts, wow!
			a(href="/newpost") Create a new post
			h1 Welcome to this amazing blog! So wow.
			p This blog contains the best collections of verbal utterances one has ever seen!
			div.footer
				footer
					h5 &copy; 2017 So Wow Inc. All Rights Reserved.