html
	head
		title Homepage
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			header
				a#logout(href="/logout") Logout
				a(href="/profile") My Profile
				a(href="/viewall") View All Posts
				a(href="/myposts") View My Posts
				a(href="/newpost") Create A New Post
			main
				h1 Welcome to this amazing blog! So wow.
				p This blog contains the best collections of verbal utterances one has ever seen!
			footer
				h5 &copy; 2017 So Wow Inc. All Rights Reserved.