html
	head
		title Log in here!
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/form.css")
	body
		div.container
			a(href="/") Home
			h1 Welcome to the login area! Very security.
			p Fill in your username and password here:
			form#loginForm(method="POST" action="/profile")
					input.userName(type="text" placeholder="Your Username" required)
					input.userPassword(type="password" placeholder="Your Password" required)
					input.loginButton(type="submit" value="Login!")