extends layout

block content
	a(href="/") Home
	h1 Welcome to the login area! Very security.
	p Fill in your username and password here:
	form#loginForm(method="POST" action="/profile")
		p
			input.userName(type="text" placeholder="Your Username" required)
		p
			input.userPassword(type="password" placeholder="Your Password" required)
		p
			input.loginButton(type="submit" value="Login!")