html
	head
		title Log in here!
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/posts.css")
	body
		div.container
			header
				a(href="/") Home
				a(href="/register") Register
			main
				h1 Welcome to the login area! Very security.
				p Fill in your username and password here:
				form(method="POST" action="/login")
						input.username(type="text" name="username" placeholder="Your Username" required)
						input.username(type="password" name="password" placeholder="Your Password" required)
						input.loginbutton(type="submit" value="Login!")
			footer
				h5 &copy; 2017 So Wow Inc. All Rights Reserved.