html
	head
		title All my cool posts!
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/posts.css")
	body
		div.container
			header
				a#logout(href="/logout") Logout
				a(href="/") Home
				a(href="/profile") My Profile
				a(href="/viewall") View All Posts
				a(href="/newpost") Create A New Post
			main
				h1 Look at these pretty posts!
				p They're all mine, mwuahaha
				if posts == 0
					br
					a(href="/newpost") Let's make a first post!
					br
					br
				else
					div.postcontainer
						each post in posts
							div.onepost
								p.postTitle
									strong 
										| #{user.username} wrote: "#{post.title}"
								p.postBody #{post.body}
			footer
				h5 &copy; 2017 So Wow Inc. All Rights Reserved.