html
	head
		title Post new message
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/posts.css")
	body
		div.container
			header
				a#logout(href="/logout") Logout
				a(href="/") Home
				a(href="/profile") My Profile
				a(href="/viewall") View All Posts
				a(href="/myposts") View My Posts
			main
				h1 Very posts, much cool
				br
				h3 Create a new post:
				br
				form#newPostForm(method="POST" action="/newpost")
					input.title(type="text" name="title" placeholder="My nice title..." maxlength="30" required)
					br
					textarea.body(type="text" name="body" placeholder="My nice message..." maxlength="140" required)
					br
					br
					input.postbutton(type="submit" name="submit" value="Post!")
			footer
				h5 &copy; 2017 So Wow Inc. All Rights Reserved.