html
	head
		title Such profile!
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			header
				a#logout(href="/logout") Logout
				a(href="/") Home
				a(href="/viewall") View All Posts
				a(href="/myposts") View My Posts
				a(href="/newpost") Create A New Post
			main
				h1 #{user.username}'s amazing profile
				br
				img(src="../gifs/dogerocket.gif" alt="To The Moon!!!")
			footer
				h5 &copy; 2017 So Wow Inc. All Rights Reserved.