html
	head
		title Such profile!
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			h1 #{user}'s amazing profile
			a#logout(href="/logout") Logout
			a(href="/") Home
			a(href="/myposts") View my own cool posts
			a(href="/viewall") View everyone's posts, wow!
			a(href="/newpost") Create a new post
			div.footer
				footer
					h5 &copy; 2017 So Wow Inc. All Rights Reserved.