html
	head
		title Such profile!
	body
		h1 Your amazing profile
		a(href="/") Home
		br
		a(href="/posts") View my own cool posts
		br
		a(href="/viewall") View everyone's posts, wow!
		br
		a(href="/newpost") Create a new post
		h3 My latest groovy post...
		//-  put in variable for latest post