html
	head
		title Such profile!
		link(rel="stylesheet", href="../css/style.css")
	body
		div.container
			h1 My amazing profile
			a(href="/") Home
			a(href="/posts") View my own cool posts
			a(href="/viewall") View everyone's posts, wow!
			a(href="/newpost") Create a new post
			h3 My latest groovy post...
			//-  put in variable for latest post