* {
	margin: 0;
	padding: 0;
}

body {
	background: #f9f9f9;
	color: #1d605b;
}

main h1 {
	margin-top: 20px;
	margin-bottom: -5px;
	display: block;
}

p {
	margin: 10px;
} 

a {
	text-decoration: none;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px;
	color: #1d605b;
	float: left;
}

a:hover {
	color: darkgrey;
}

.container {
	display: block;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: rgba(75, 183, 181, 0.1);
	text-align: center;
	padding: 10px 20px 20px;
	width: 50%;
	margin: 150px auto 0;
}

#logout {
	background-color: ##598c8c;
}

#logout:hover {
	background-color: #4c7777;
}

footer {
	border-top: 1px solid grey;
	margin-top: 20px;
	padding-top: 10px;
	display: block;
}